/* CSS Variables */
:root {
	/* Colors */
	--blue: #1e90ff;
	--white: #ffffff;
	--starndard-black: #191919;
	--border-grey: #444;
	--grey-light: #a0a0a0;
	--item-unSelected-color: #777777;
}


.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.bg-black {
	background-color: var(--starndard-black);
}
.item-selected {
	color: var(--white) !important;
}
.item-unSelected {
	color: var(--item-unSelected-color) !important;
}

.fade {
	background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

.button-deactive {
	/* background-color: #ccc; */
	/* color: #666; */
	/* cursor: not-allowed; */
	opacity: 0.3; /* Reduce opacity to visually indicate disabled state */
	/* pointer-events: none;  */
}

.transition-from-top {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

/* Color Standard Grey */
.show-more-less-text {
	color: var(--grey-light) !important;
	background: none;
	border: none;
	padding: 0.1em;
	margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-family: GuardiansansSemibold;
	font-size: 1em;
	font-weight: 100;
}

.flex-col {
	/*This class can be merged with .flex-col-cc*/
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.flex-row {
	display: flex;
	/* position: relative; */
	/* flex-direction: column; */
	/* justify-content: flex-start; */
	align-items: flex-start;
}
.wd-50 {
	width: 50%;
}
.space-bw {
	justify-content: space-between;
}
#loader-content {
	font-size: 20px;
}
/* #loader-logo{
    padding-top: 1em;
    width: 30%;
}
#loader-img{
    scale: 30%;
} */

.popup-overlay-transparent {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 2500;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.popup-body {
	position: relative;
	background-color: var(--starndard-black);
	width: 30%;
	/* height: 40%; */
	/* height: max-content; */
	padding: 2em;
	cursor: default;
	color: var(--white);
	border-radius: 1em;
	border: 2px solid var(--border-grey);
	box-shadow: none;
	/* margin: 0 auto; */
}

/* The below class helps to align popup position in middle */
.webgl-popup {
	position: fixed;
	top: 48%;
	left: calc(
		68.5% + (30vw - 35%)
	); /* Adjust the calculation */ /* Calculate position based on canvas width */
	transform: translate(-50%, -50%);
	/* Additional styles for the popup */
}

.popup-close-btn {
	position: absolute;
	font-size: large;
	/* margin: 1em; */
	padding-right: 0.8em;
	padding-top: 0.5em;
	/* padding: 1em; */
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 2700;
}

.popup-content {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-family: GuardiansansSemibold;
	color: var(--grey-light);
}

.popup-content p {
	font-size: 1.5em;
	/* margin-bottom: 1em; */
	padding-bottom: 1em;
}

/* Horizontal Line Seprator between Section --> hr-sptr */
.hr-sptr {
	width: 100%;
	height: 1px;
	border: none;
	background-color: #444;
	margin-top: 7%;
	margin-bottom: 7%;
}

.col-1 {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-around;
	/* align-items: center; */
}

.col-1 > * {
	width: 25%;
}

.popup-sub-heading {
	font-family: GuardiansansSemibold;
	/* font-size: 30px; */
	color: var(--white);
}

.popup-sub-heading > p:first-child {
	word-wrap: break-word;
	/* font-size: 1em; */
	/* width: 30%; */
	color: var(--grey-light);
	line-height: 1.3;
	/* padding-right: 1em; */
	/* align-self: flex-end; */
}

/* container -> flex column center center */
.flex-col-cc {
	position: relative;
	/* width: 100%; */
	height: auto;
	display: flex;
	flex-direction: column;
	/* margin: 0 1.5em; */
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.flex-col-cc img {
	max-width: 40%;
	height: auto;
	display: block;
	/* padding: 0.1em; */
	/* margin: 0 auto;  */
}

.flex-col-cc p {
	font-size: 1.1em;
	padding-top: 0.8em;
	/* margin: 0.8em 0; */
}

/* Text Clamping */
.line-clamp-4 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/* truncate to 2 lines */
	-webkit-line-clamp: 2;
}

/* Text Underline */
.underline {
	text-decoration: underline;
}

/* CSS Media Queries ----- Start */
/* Small landscape devices (phones, 480px and up) */
@media screen and (min-width: 480px) {
	/* Styles for small landscape devices */

	/* .popup-content{
        justify-content: space-evenly;
    }
	.popup-body {
		width: 35%;
	}

	.popup-close-btn {
		font-size: medium;
	}

	.popup-sub-heading {
		font-size: 10px;
	}

	.flex-col-cc {
		font-size: 10px;
		width: 10%;
	} */

	.popup-body {
		padding: 1em;
	}
	.popup-close-btn {
		font-size: 1em;
	}
	.popup-content p {
		/* padding: 0.5em; */
		font-size: 1.3em;
	}
	.flex-col-cc {
		width: 200%;
		font-size: 0.5em;
	}
	.flex-col-cc img {
		/* width: 80%; */
	}
}

/* Medium landscape devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
	/* Styles for medium landscape devices */

	/* .popup-body {
		width: 30%;
	}

	.popup-close-btn {
		font-size: medium;
	}

	.popup-sub-heading {
		font-size: 19px;
	}

	.flex-col-cc {
		font-size: 12px;
		width: 13%;
	} */

	.popup-content {
	}
	.flex-col-cc {
		width: 100%;
		font-size: 0.7em;
	}
	.flex-col-cc img {
		/* width: 45%; */
	}
}

/* Large landscape devices (laptops/desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
	/* Styles for large landscape devices */

	/* .popup-body {
		width: 30%;
		height: 30%;
	}

	.popup-close-btn {
		font-size: medium;
	}

	.popup-sub-heading {
		font-size: 25px;
	}

	.flex-col-cc {
		font-size: 13px;
	} */

	.popup-close-btn {
		font-size: 1em;
	}
	.popup-sub-heading {
		font-size: 14px;
	}
	.flex-col-cc {
		font-size: 10px;
	}
}

/* Extra large landscape devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	/* Styles for extra large landscape devices */

	/* .popup-body {
		width: 25%;
		height: 38%;
	}

	.popup-close-btn {
		font-size: large;
	}

	.popup-sub-heading > p:first-child {
		width: 28%;
		font-size: 22px;
	}
	.popup-sub-heading {
		font-size: 28px;
	}

	.flex-col-cc {
		font-size: 12px;
		width: 10%;
	} */

	.popup-sub-heading {
		font-size: 18px;
	}
	.flex-col-cc {
		font-size: 8px;
	}
	.flex-col-cc img {
		width: 40%;
	}
}

@media screen and (min-width: 1400px) {
	.popup-body {
		padding: 2em;
	}
	.popup-close-btn {
		font-size: 1.5em;
	}
	.popup-sub-heading {
		font-size: 20px;
	}
	.flex-col-cc {
		/* width: 30%; */
		font-size: 13px;
	}
	.flex-col-cc img {
		width: 40%;
	}
}

/* Larger landscape devices (large monitors, 1600px and up) */
@media screen and (min-width: 1600px) {
	/* Styles for larger landscape devices */

	/* .popup-body {
		width: 35%;
		height: 45%;
		padding: 2em;
	}

	.popup-close-btn {
		font-size: x-large;
	} */

	/* .popup-sub-heading { ******
		font-size: 40px;
	} */

	/* .popup-sub-heading > p:first-child {
		width: 30%;
		font-size: 40px;
	}

    .flex-col-cc img {
		width: 41%;
	}

	.flex-col-cc {
		font-size: 22px;
		width: 30%;
	} */

	.popup-close-btn {
		font-size: 1.5em;
	}
	.popup-sub-heading {
		font-size: 21px;
	}
	.flex-col-cc {
		font-size: 15px;
	}
	.flex-col-cc img {
		/* width: 190%; */
	}
}

@media screen and (min-width: 1900px) {
	/* .popup-body {
		width: 30%;
		height: 40%;
		padding: 2em;
	}
	.popup-content {
		justify-content: space-evenly;
	}

	.popup-close-btn {
		font-size: x-large;
	}

	.popup-sub-heading > p:first-child {
		width: 30%;
		font-size: 35px;
	}

	.flex-col-cc {
		font-size: 20px;
	}

	.flex-col-cc img {
		width: 40%;
	} */

	.hr-sptr {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.popup-close-btn {
		font-size: 1.8em;
	}
	.popup-sub-heading {
		font-size: 25px;
	}
	.flex-col-cc {
		font-size: 13px;
	}
	.flex-col-cc img {
		width: 45%;
	}
}

@media screen and (min-width: 2300px) {
	/* .popup-body {
		width: 40%;
		height: 45%;
	}
	.popup-content {
		justify-content: space-around;
	}

	.popup-close-btn {
		font-size: 3em;
	}

	.popup-sub-heading > p:first-child {
		width: 30%;
		font-size: 60px;
	}

	.flex-col-cc {
		font-size: 30px;
	}

	.flex-col-cc img {
		width: 50%;
	} */

	.hr-sptr {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.popup-close-btn {
		font-size: 2em;
	}
	.popup-sub-heading {
		font-size: 30px;
	}
	.flex-col-cc {
		font-size: 20px;
	}
	.flex-col-cc img {
		width: 45%;
	}
}

/* CSS Media Queries ----- End */








/* Reload Popup */
#reloadPopupOverlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Ensure the popup appears on top */
}

#reloadPopupContent {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	z-index: 1001; /* Ensure the content is above the overlay */

	background-color: #191919;
	border: 1px solid #444;
	border-radius: 8pt;
}

#reloadPopupHeader h2 {
	font-family: Arial, sans-serif;
	margin: 0;
	color: white;

}

#reloadPopupBody p {
	font-family: Arial, sans-serif;
	margin: 15px 0;
	color: white;

}

#reloadPopupFooter {
	font-family: Arial, sans-serif;
	margin-top: 20px;
	color: white;

}

#reloadPopupCloseBtn {
	font-family: Arial, sans-serif;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	/* background: #007BFF; */
	background-color: #a0a0a0;
	color: #000;
	/* font-weight: bold; */
	border-radius: 5px;
}

#reloadPopupCloseBtn:hover {
	background: #0056b3;
}

/* Responsive styles */
@media (max-width: 600px) {
	#reloadPopupContent {
		width: 90%;
	}
}



/* Model Loader */
/* #loadingOverlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 71%;
	height: 100%;
	background-color: transparent;
	display: flex;
	justify-content:center;
	align-items: flex-end;
	z-index: 9999;
}

#loadingBarContainer {
	width: 100%;
	max-width: 100%;
	height: 5px;
	background-color: #e0e0e0;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#loadingBar {
	height: 100%;
	width: 0;
	background-color: #757575;
	transition: width 0.5s ease;
} */

/* Model Loader */
#loadingOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
	background-color: #000;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: space-between; /* Place loader at the end */
    align-items: center; /* Center horizontally */
    z-index: 9999;
	pointer-events: none; 
}

#canvasLoaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Take up remaining space to center the image */
    width: 100%;
}

#canvasLoader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingBarContainer {
    width: 100%;
    height: 5px;
    /* background-color: #72838D; */
    background-color: black;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#loadingBar {
    height: 100%;
    width: 0;
    /* background-color: #ffffff; */
    /* background-color: green; */
    background-color: #72838D;
    transition: width 0.5s ease;
}

#loader-gif {
    max-width: 80%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}
