@font-face {
	font-family: MontserratRegular;
	src: url(../static/fonts/montserrat-regular.woff) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: GuardiansansSemibold;
	src: url(../static/fonts/guardiansans-semibold.woff) format("truetype");
}
/* @font-face {
	font-family: GuardiansansRegular;
	src: url(../static/fonts/guardiansans-regular.woff) format("truetype");
} */
/* @font-face {
	font-family: GuardiansansMedium;
	src: url(../static/fonts/guardiansans-medium.woff) format("truetype");
} */
/* @font-face {
	font-family: GuardiansansBold;
	src: url(../static/fonts/GuardianSans-Bold.woff) format("truetype");
}  */

* {
	margin: 0;
	padding: 0;
}

html,
body {
	/* overflow: hidden; */
	scroll-behavior: smooth;
	padding: env(safe-area-inset);
	background-color: #141518 ;
	
}

/* .dg.a { 
	position: absolute;
	top: 0px;
	left: 10px;
	z-index: 10;
} */


#mainDiv {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: left;
	/* box-sizing: border-box; */
}
#categories-section {
	left: 0%;
	width: 7%;
	height: 100%;
}

#categories {
	width: 100%;
	height: 100%;
}

#categories-list {
	width: 100%;
	height: 100%;
	background-color: #141518 !important;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	list-style: none;
}

.category {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: #666666;
}

#active-category {
	color: #ffffff;
}

.category-Name {
	font-family: GuardiansansSemibold;
	font-weight: 500;
	rotate: -90deg;
}

#items-section {
	width: 22%;
	height: 100%;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}

#bikeView {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

#webgl {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	outline: none;
	/* display: none; */
	/* display: none; */
}

#dropdown {
	width: 100%;
	border-bottom: 0.15em solid hsla(0, 0%, 60%, 0.2);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #5b5b5b;
}

::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-thumb {
	background-color: #212121;
	outline: 0;
}

#dropdown-heading {
	width: 100%;
	height: 14vh;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.dropdown-heading-name {
	font-family: GuardiansansSemibold;
	font-weight: 400;
	outline: none;
	margin-left: 20px;
	width: 90%;
	color: #666666;
}

#dropdown-toggle {
	/* color: #666666; */
	/* color: #ffffff; */
	/* fill: #ffffff; */
	margin-right: 1em;
	scale: 0.8;
}

/* DropDown Animation -- start */
/* Initial state of the dropdown content */
#dropdown-content {
	opacity: 0;
	transform: translateY(-50px); /* Move the content up initially */
	transition: opacity 0.3s ease, transform 0.3s ease; /* Apply transition effect */
}

/* Applied when dropdown content is visible */
#dropdown-content.visible {
	opacity: 1;
	transform: translateY(0); /* Move the content to its original position */
}

/* Animation for list items */
.item {
	animation: dropdown-item-animation 0.5s ease forwards;
	opacity: 0; /* Initially hide items */
	transform: translateY(-20px); /* Move items up initially */
}

/* Animation for list items */
@keyframes dropdown-item-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* DropDown Animation -- end */

#dropdown-content {
	display: none;
}

.item {
	user-select: none;
	flex-direction: column;
	display: flex;
	align-items: center;
	text-align: center;
}
#dropdown-content:last-child {
	padding: 0px 10px 10px 10px;
}

#itemImage {
	width: 75%;
}

#itemName {
	color: #777777;
	line-height: 1.2;
	font-weight: 500;
	padding-top: 0.5em;
	font-family: MontserratRegular;
}

#itemPrice {
	display: flex;
	align-items: center;
	color: #777777;
	margin-bottom: 20px;
	justify-content: center;
	font-family: GuardiansansSemibold;
	/* display: none; */
	opacity: 0;
}

#isItemSelected {
	font-weight: 700;
	/* background-color: #2f2f31; */
	background-color: #2f2f31;
    transition: background-color 0.5s ease; /* Change background color with a 0.5s ease transition */
}
#isItemSelected, #isItemSelected * {
    color: #ffffff
}

#isRotatableDiv {
	align-self: end;
	top: 10px;
	padding: 3px 3px 5px 5px;
	width: 10%;
}

#rotatable-img {
	width: 120%;
	height: 120%;
}

#hoverDiv {
	width: 15%;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #ffffff;
	color: #000;
	font-size: 1.2em;
	font-family: GuardiansansRegular;
}

#bike-section {
	width: 100%;
	height: 100%;
}

#bike-heading-row {
	position: absolute;
	z-index: 2;
	width: 60%;
	height: 8%;
	margin-left: 25px;
	margin-top: 25px;
	display: flex;
	/* display: none; */
}

#bike-logo {
	width: 12em;
	cursor: pointer;
}

#bike-name {
	max-width: fit-content;
	font-family: GuardiansansSemibold;
	background: hsla(0, 0%, 100%, 0.5);
	border-radius: 5em;
	color: #000;
	text-transform: uppercase;
	margin-top: 0.2em;
	padding: 0.1em 0.2em;
	cursor: default;
}

#infoIcon {
	margin-left: 5px;
	width: 15px;
	cursor: pointer;
}

#prices-div {
	width: 100%;
	display: flex;
	justify-content: end;
}

#bike-name-div {
	width: 100%;
}

#bike-price-div {
	background: hsla(0, 0%, 100%, 0.5);
	/* background-color: #d19a9a; */
	padding: 1%;
	border-radius: 5em;
	width: 30%;
	display: flex;
	cursor: default;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#bike-price {
	font-family: GuardiansansMedium;
	letter-spacing: 0.06px;
}

#emi {
	font-family: GuardiansansMedium;
	font-size: 1rem;
}
#edit-emi {
	margin-left: 10%;
	width: 30%;
	height: auto;
}
#emi-div {
	display: flex;
	align-items: center; /* Align items vertically in the center */
}

/* Controls Side Bar Panel - CSS ---- Strat */
.vertical-container {
	display: flex;
	flex-direction: column; /* Stack items vertically */
}

#side-bar-controls {
	position: absolute;
	z-index: 2;
	right: 3%;
	top: 25px;
	width: 5%;
	align-items: center;
}

.back-panel-white {
	background: #ffffff80;
	/* background: #FDFDFA; */
	border-radius: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	width: 60%;
	/* height: 170px; */
	align-content: center;
}

.circle-back-panel {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/* background-color: rebeccapurple; */
	margin-bottom: 50px;
	/* right: 100%; */
}

#controls-icon-div {
	/* background: hsla(0, 50%, 51%, 0.5);
	border-radius: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;  */
	/* padding: 10px; */
	/* width: 100%; */
	/* height: 170px; */
}

#controls-icon-div:first-child {
	margin-bottom: 10px;
	font-size: 36px;
}

#control-icon-img {
	width: 35px;
	height: 35px;
	margin-top: 50%;
	/* padding: 20px; */
}

/* Controls Side Bar Panel - CSS ---- End */

/* POPUPS */

/*Controls-Description Popup*/

#controls-description-overlay {
	position: absolute;
	width: 130%;
	height: 100%;
	display: flex;
	user-select: none;
	align-items: center;
	justify-content: center;
	z-index: 2500;
}

#controls-description-body {
	height: 30%;
	padding: 28.8px;
	cursor: default;
	background-color: #191919;
	color: #ffffff;
	border-radius: 8pt;
	border: 1px solid #444;
	box-shadow: none;
}

#controls-description-content {
	display: flex;
	flex-direction: column;
	margin-top: -3%;
	justify-content: center;
	align-items: center;
}
hr {
	/* border: 0.01px solid #a0a0a0;  */
	width: 400px;
	/* height: 0.1px; */
	border: none;
	height: 1px;
	background-color: #444;
}

.touch-controls-div {
	/* border-bottom: 0.1px solid  #7e7b7b; */
	width: 100%;
	display: flex;
}

.mouse-controls-div {
	width: 100%;
	display: flex;
}

#controls-div {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

#control-icon {
	/* width: 50%; */
	max-width: 100%; /* Makes the image scale with its container */
	height: auto; /* Allows the height to adjust proportionally with the width */
	display: block; /* Ensures proper spacing */
	margin: 0 auto; /* Centers the image horizontally */
}

#touch-controls-heading {
	font-family: GuardiansansSemibold;
	word-wrap: normal;
	color: #ffffff;
	font-size: 1.8em;
	width: 120px;
	display: flex;
	align-items: center;
}
#mouse-controls-heading {
	font-family: GuardiansansSemibold;
	word-wrap: normal;
	color: #ffffff;
	font-size: 1.8em;
	width: 120px;
	display: flex;
	align-items: center;
}

#control-icon-desc {
	font-family: GuardiansansSemibold;
	word-wrap: normal;
	color: #ffffff;
	letter-spacing: 0.6px;
	text-align: center;
	padding: 10px;
	font-size: 1em;
}

#control-desc-close {
	text-align: end;
	font-size: 1.6em;
	margin-top: -2%;
	cursor: pointer;
}

/* Chat Bubble -- Start */
/* Chat Bubble -- Start */
#hoverChatBubble {
	-moz-osx-font-smoothing: grayscale; /* Firefox */
	-webkit-font-smoothing: antialiased; /* WebKit  */
	left: 10%;
}
.bubble {
	-moz-osx-font-smoothing: grayscale; /* Firefox */
	-webkit-font-smoothing: antialiased; /* WebKit  */
	position: relative;
	font-family: GuardiansansRegular;
	font-size: 80%;
	width: 15%;
	background: #fff;
	border-radius: 3px;
	padding: 0.1% 0.5% 0.1% 0.5%;
	text-align: center;
	font-weight: 500; /* Equivalent to "bold" */
	color: #000;
	font-weight: bold;
	line-height: 1.3;
}

.bubble-bottom-left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #fff;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	border-bottom: 8px solid transparent;
	right: 10px;
	top: -5px;
	transform: rotateY(180deg);
	transform: rotateZ(44deg);
}
/* Chat Bubble -- End */

/* ****************** Personalize-Alert Popup --> start*******************/
#personalize-background-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	user-select: none;
	align-items: center;
	z-index: 10;
	transition: opacity 0.15s linear;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
}

#personalize-alert {
	position: relative;

	width: 38%;
	height: 150px;
	padding: 1%;
	cursor: default;
	background-color: #191919;
	color: #ffffff;
	border-radius: 8pt;
	border: 1px solid #444;
	box-shadow: none;
}

#personalize-alert-content {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 10%;
}

#personalize-alert-close {
	cursor: pointer;
	text-align: end;
	/* font-size: 20%; */
}

#personalize-alert-heading {
	font-family: GuardiansansSemibold;
	color: #ffffff;
	font-size: 1.5em;
	margin-top: -0.5em;
	margin-bottom: 1%;
}

#personalize-alert-message {
	font-size: medium;
	font-family: GuardiansansRegular;
	text-align: center;
	color: #a0a0a0;
	margin: 0.5em 0.5em 0.5em 0.5em;
	/* margin-bottom: 0.7em; */
}

#personalize-alert-ok {
	font-family: MontserratRegular;
	background-color: #000;
	cursor: pointer;
	color: #ffffff;
	font-size: small;
	font-weight: bold;
	position: absolute;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 10%;
	height: 6%;
	min-width: 70px;
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

/* ****************** Personalize-Alert Popup --> End *******************/

/** Info Popup */

#infoPopupBackgroundOverlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#infoPopup {
	/* padding: 28.8px;
	cursor: default;
	background-color: #191919;
	color: #ffffff;
	border-radius: 8pt;
	border: 1px solid #444;
	width: 35%;
	box-shadow: none;
	bottom: 5%; */

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 28.8px;
	cursor: default;
	background-color: #191919;
	border: 1px solid #444;
	border-radius: 8pt;
	color: #ffffff;
	width: 35%;
	box-shadow: none;
	margin-top: 1em;
}

#infoPopupContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#infoContentHeading {
	font-family: GuardiansansSemibold;
	color: #ffffff;
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 15px;
	/* margin-top: -0.5em; */
	/* padding-bottom: 1.2em; */
}

#infoItemImage {
	height: 8rem;
	user-select: none;
	margin-bottom: 10px;
}

#infoItemData {
	/* font-family: GuardiansansRegular; */
	font-family: MontserratRegular;
	color: #ffffff;
	padding-bottom: 1.2em;
	font-size: 1.2rem;
	user-select: none;
	letter-spacing: 0.5px;
}

#infoClose {
	/* cursor: pointer;
	text-align: end; */
	/* alternative */
	position: relative;
	left: 99%;
	top: 10%;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	/* margin-left: 10px;
	margin-bottom: 5px; */
}

/**UI-LOADER**/

#loaderDiv {
	position: fixed;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #141518 !important;
	flex-direction: column;
	font-size: 15px;
}

#loader {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#loader-logo {
	/* margin: 0 auto; */
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#loader-gif {
	scale: 0.8;
}

/*ROTATE SCREEN DIV*/
/* Media Query for responsiveness */

#rotateScreenDiv {
	background-color: #141518 !important;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	z-index: 5000;
	/* animation: opacityAnimation 2s infinite; */
}

@keyframes opacityAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6; /* Adjust as needed */
	}
	100% {
		opacity: 1;
	}
}
.animate-opacity {
	animation: opacityAnimation 3s infinite;
}

#rotate-screen-icon {
	width: 130px;
	scale: 0.25;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-right: 0.01em; */
	/* animation: opacityAnimation 2s infinite; */
}

#rotate-screen-info {
	width: 65%;
	font-family: MontserratRegular;
	color: #dbdbdb;
	display: flex;
	flex-direction: column;
}

#rotate-heading-1 {
	font-weight: 600;
	/* animation: opacityAnimation 2s infinite; */
}

#rotate-heading-2 {
	font-weight: 600;
	/* animation: opacityAnimation 2s infinite; */
}

#rotate-heading-3 {
	font-weight: 600;
	/* animation: opacityAnimation 2s infinite; */
}

/* Controls Initial Popup Css --- Start */
#controls-description-overlay {
	max-width: 100%;
	max-height: 100%;
}
#controls-description-body {
	position: fixed;
	/* top: 0; */
	left: 36.4%;
	width: 40%;
	height: 30%;
	padding: 2%;
	justify-content: center;
	align-items: center;
}

#control-desc-close {
	position: absolute;
	top: 5%;
	right: 3%;
	cursor: pointer;
	font-size: 20px;
}

#controls-description-content {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.touch-controls-div {
	/* max-width: 50em; */
}

#touch-controls-heading {
	max-width: 50%;
	max-height: 50%;
	font-size: 150%;
}
#mouse-controls-heading {
	max-width: 50%;
	max-height: 50%;
	font-size: 150%;
}
#controls-div {
	width: 80%;
	height: 80%;
	font-size: 80%;
}
/* Controls Initial Popup Css --- End */

/**Responsiven Media Queries**/
@media (orientation: portrait) {
	#rotateScreenDiv {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#mainDiv {
		display: none;
	}
	body {
		background-color: #141518;
	}
}

@media (orientation: landscape) {
	#rotateScreenDiv {
		display: none;
	}
	#mainDiv {
		/* display: block; */
		/* box-sizing: content-box; */
	}
}

@media only screen and (min-width: 2400px) {
	/* #personalize-alert-close {
		font-size: 3em;
	} */

	/* #personalize-alert-heading {
		font-size: 3em;
		margin-top: 0.02em;
		margin-bottom: 1%;
	} */

	/* #personalize-alert-message {
		font-size: 1500;
		margin: 2.3em 2.3em 2.3em 2.3em;
		
	} */

	/* #personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 24%; 
		height: 40%; 
	}  */
}

@media only screen and (min-width: 1700px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start  */
	#personalize-alert {
		width: 38%;
		/* height: 200px; */
		height: 30%;
		padding: 1%;
	}

	#personalize-alert-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 10%;
	}

	#personalize-alert-close {
		font-size: 1.5em;
	}

	#personalize-alert-heading {
		font-size: 1.8em;
		margin-top: 0.02em;
		/* margin-bottom: 1%; */
	}

	#personalize-alert-message {
		font-size: 1.2em;
		margin: 2em;
		width: 100%;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end*/

	#bike-name {
		font-size: 1.8em;
	}
	#bike-price {
		font-size: 1.7em;
	}

	#emi {
		font-size: 1.1em;
	}
	.category-Name {
		font-size: 1.85em;
	}
	.dropdown-heading-name {
		font-size: 1.4em;
	}
	#itemName {
		font-size: 1.1em;
	}
	#itemPrice {
		font-size: 1.1em;
	}

	/* info popup css ---> start */
	#infoPopup {
		width: 35%;
	}
	#infoContentHeading {
		font-size: 2em;
	}
	#infoItemData {
		font-size: 1.2em;
	}
	#infoItemImage {
		width: 40%;
		height: auto;
	}
	#infoClose {
		font-size: 1em;
	}
	/* info popup css ---> end */

	/* control desc popup -- start */
	#controls-description-body {
		position: fixed;
		left: 50.4%;
		width: 25%;
		height: 35%;
		padding: 0%;
		justify-content: center;
		align-items: center;
	}
	#controls-description-content {
		width: 80%;
	}
	#controls-div {
		width: 100%;
		height: 100%;
	}
	#control-desc-close {
		padding: 10px;
	}
	/* control desc popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 15%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.6;
	}
	/* loader -- end */

	/* Chat Bubble --- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 120%;
		width: 16%;
		line-height: 1.3;
	}
	/* Chat Bubble --- End */
}
@media (min-width: 1600px) and (max-width: 1700px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1.5em;
	}

	#personalize-alert-message {
		margin: 2.2em;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.75em;
	}
	#bike-price {
		font-size: 1.65em;
	}
	#infoContentHeading {
		font-size: 1.65em;
	}
	#infoItemData {
		font-size: 1.05em;
	}
	#emi {
		font-size: 1.05em;
	}
	.category-Name {
		font-size: 1.8em;
	}
	.dropdown-heading-name {
		font-size: 1.35em;
	}
	#itemName {
		font-size: 1.05em;
	}
	#itemPrice {
		font-size: 1.05em;
	}

	/* control desc popup -- start */
	#controls-description-body {
		position: fixed;
		left: 40.4%;
		width: 30%;
		height: 20%;
		padding: 2%;
		justify-content: center;
		align-items: center;
	}
	#controls-div {
		width: 100px;
		margin-left: 5%;
	}
	#control-desc-close {
		padding: 10px;
	}
	#control-icon {
		width: 60%;
	}
	/* control desc popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 15%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.6;
	}
	/* loader -- end */

	/* Chat Bubble --- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 110%;
		width: 16%;
		line-height: 1.3;
	}
	/* Chat Bubble --- End */
}

/* This is normal screen size of laptop (in chrome) */
@media (min-width: 1500px) and (max-width: 1600px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1.5em;
	}

	#personalize-alert-message {
		margin: 2.2em;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.7em;
	}
	#bike-price {
		font-size: 1.6em;
	}
	#infoContentHeading {
		font-size: 1.6em;
	}
	#infoItemData {
		font-size: 1em;
	}
	#emi {
		font-size: 1em;
	}
	.category-Name {
		font-size: 1.7em;
	}
	.dropdown-heading-name {
		font-size: 1.3em;
	}
	#itemName {
		font-size: 1em;
	}
	#itemPrice {
		font-size: 1em;
	}

	/* control desc popup -- start */
	#controls-description-body {
		position: fixed;
		left: 45.4%;
		width: 25%;
		height: 200px;
		padding: 1%;
		justify-content: center;
		align-items: center;
	}
	#controls-div {
		width: 100%;
		height: 100%;
		/* margin-left: 5%; */
	}
	#control-desc-close {
		padding: 10px;
	}
	#control-icon {
		width: 50%;
	}
	/* control desc popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 15%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.6;
	}
	/* loader -- end */

	/* Chat Bubble --- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 100%;
		width: 16%;
		line-height: 1.3;
	}
	/* Chat Bubble --- End */
}
@media (min-width: 1400px) and (max-width: 1500px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1.5em;
	}

	#personalize-alert-message {
		margin: 2.2em;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.65em;
	}
	#bike-price {
		font-size: 1.55em;
	}
	#infoContentHeading {
		font-size: 1.55em;
	}
	#emi {
		font-size: 0.95em;
	}
	#infoItemData {
		font-size: 0.95em;
	}
	.dropdown-heading-name {
		font-size: 1.25em;
	}
	.category-Name {
		font-size: 1.6em;
	}
	#itemName {
		font-size: 0.95em;
	}
	#itemPrice {
		font-size: 0.95em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 15%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.6;
	}
	/* loader -- end */
}
@media (min-width: 1300px) and (max-width: 1400px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1.5em;
	}

	#personalize-alert-message {
		margin: 1.8em;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.6em;
	}
	#bike-price {
		font-size: 1.5em;
	}
	#infoContentHeading {
		font-size: 1.5em;
	}
	#emi {
		font-size: 0.9em;
	}
	#infoItemData {
		font-size: 0.9em;
	}
	.category-Name {
		font-size: 1.5em;
	}
	.dropdown-heading-name {
		font-size: 1.2em;
	}
	#itemName {
		font-size: 0.9em;
	}
	#itemPrice {
		font-size: 0.9em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 15%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.6;
	}
	/* loader -- end */

	#hoverChatBubble {
		left: 12%;
	}
}
@media (min-width: 1200px) and (max-width: 1300px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.7;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1.5em;
	}

	#personalize-alert-message {
		margin: 1.2em;
	}

	#personalize-alert-ok {
		font-size: 1.2em;
		margin-top: 2%;
		margin-bottom: 5%;
		width: 12%;
		height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.55em;
	}
	#bike-price {
		font-size: 1.45em;
	}
	#infoContentHeading {
		font-size: 1.45em;
	}
	#emi {
		font-size: 0.85em;
	}
	#infoItemData {
		font-size: 0.85em;
	}
	.category-Name {
		font-size: 1.4em;
	}
	.dropdown-heading-name {
		font-size: 1.15em;
	}
	#itemName {
		font-size: 0.85em;
	}
	#itemPrice {
		font-size: 0.85em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 18%;
		margin-top: 1.7%;
	}

	#loader-gif {
		scale: 0.5;
	}
	/* loader -- end */

	#hoverChatBubble {
		left: 12%;
	}
}
@media (min-width: 1100px) and (max-width: 1200px) {
	#dropdown-toggle {
		margin-right: 1em;
		scale: 0.6;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1em;
	}

	#personalize-alert-message {
		font-size: 0.8em;
		margin: 1.5em;
	}

	#personalize-alert-ok {
		font-size: 0.8em;
		margin-top: 2%;
		margin-bottom: 5%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.5em;
	}
	/* bikePrice -- start */
	#bike-price {
		font-size: 1.4em;
	}

	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 40%;
		height: 50px;
	}
	#emi {
		font-size: 0.8em;
	}
	/* bikePrice -- end */
	#infoContentHeading {
		font-size: 1.4em;
	}
	#infoItemData {
		font-size: 0.8em;
	}
	.category-Name {
		font-size: 1.3em;
	}
	.dropdown-heading-name {
		font-size: 1.1em;
	}
	#itemName {
		font-size: 0.8em;
	}
	#itemPrice {
		font-size: 0.8em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 20%;
		margin-top: 1.7%;
	}

	#loader-gif {
		scale: 0.5;
	}
	/* loader -- end */

	/* Chat Bubble --- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 70%;
		width: 16%;
		line-height: 1.3;
	}
	/* Chat Bubble --- End */
}
@media (min-width: 1000px) and (max-width: 1100px) {
	#dropdown-toggle {
		margin-right: 0.5em;
		scale: 0.55;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 0.5em;
	}

	#personalize-alert-message {
		font-size: 0.8em;
		margin: 1.5em;
	}

	#personalize-alert-ok {
		font-size: 0.8em;
		margin-top: 2%;
		margin-bottom: 5%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.4em;
	}

	/* bikePrice -- start */
	#bike-price {
		font-size: 1.35em;
	}

	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 40%;
		height: 50px;
	}
	/* bikePrice -- end */

	#infoContentHeading {
		font-size: 1.25em;
	}
	#infoItemData {
		font-size: 0.75em;
	}
	.category-Name {
		font-size: 1.2em;
	}
	.dropdown-heading-name {
		font-size: 1.05em;
	}
	#itemName {
		font-size: 0.75em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 22%;
		margin-top: 2%;
	}

	#loader-gif {
		scale: 0.5;
	}
	/* loader -- end */

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 1em;
	}

	#personalize-alert-heading {
		font-size: 1em;
	}

	#personalize-alert-message {
		font-size: 0.8em;
		margin: 1.5em;
	}

	#personalize-alert-ok {
		font-size: 0.8em;
		margin-top: 2%;
		margin-bottom: 5%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	/* Chat Bubble --- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 70%;
		width: 16%;
		line-height: 1.3;
	}
	/* Chat Bubble --- End */
}
@media (min-width: 900px) and (max-width: 1000px) {
	#dropdown-toggle {
		margin-right: 0.5em;
		scale: 0.55;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 0.8em;
	}

	#personalize-alert-heading {
		font-size: 1em;
	}

	#personalize-alert-message {
		font-size: 0.5em;
		margin: 1.5em;
		line-height: 2;
	}

	#personalize-alert-ok {
		font-size: 0.8em;
		margin-top: 2%;
		margin-bottom: 5%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	#bike-name {
		font-size: 1.3em;
	}

	/* bikeprice - start */
	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 30%;
		height: 50px;
	}
	#bike-price {
		font-size: 1em;
	}
	#emi {
		font-size: 0.8em;
	}
	/* bikeprice - end */

	/*  infoIcon popup - start */
	#infoPopup {
		width: 30%;
		padding: 10px;
	}
	#infoItemImage {
		width: 50%;
		height: auto;
	}
	#infoContentHeading {
		font-size: 1.2em;
	}
	#infoItemData {
		font-size: 0.7em;
	}
	#infoClose {
		/* margin-left: 10px; */
		font-size: small;
	}
	/*  infoIcon popup - end */

	.category-Name {
		font-size: 1.1em;
	}
	.dropdown-heading-name {
		font-size: 1em;
	}
	#itemName {
		font-size: 0.7em;
	}
	#itemPrice {
		font-size: 0.7em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	#loader-logo {
		width: 24%;
		margin-top: 5%;
		/* padding-top: 2em; */
	}

	#loader-gif {
		scale: 0.5;
	}
	/* loader -- end */

	/* Chat Bubble -- Start */
	#hoverChatBubble {
		left: 11%;
	}
	.bubble {
		font-size: 60%;
		width: 16%;
		border-radius: 3px;
		padding: 0.2% 0.5% 0.2% 0.5%;
		line-height: 1.3;
	}

	.bubble-bottom-left:before {
		border-left: 8px solid #fff;
		border-right: 2px solid transparent;
		border-top: 2px solid #fff;
		border-bottom: 6px solid transparent;
		right: 10px;
		top: -2px;
	}
	/* Chat Bubble -- End */
}

@media (min-width: 900px) and (max-width: 945px) {
	#rotate-heading-1 {
		font-size: 54px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 37.85px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 37.85px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 450px;
		height: 450px;
	}
	#itemName {
		font-size: 0.65em;
	}

	/* Initial Control Popup -- Start */
	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	/* Initial Control Popup -- End */

	/* loader -- start */
	/* #loader-logo {
		width: 24%;
		margin-top: 4%;
	}
	
	#loader-gif {
		scale: 0.5;
	} */
	/* loader -- end */
}

@media (min-width: 800px) and (max-width: 900px) {
	#dropdown-toggle {
		margin-right: 0.3em;
		scale: 0.5;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 0.8em;
	}

	#personalize-alert-heading {
		font-size: 1em;
	}

	#personalize-alert-message {
		font-size: 0.5em;
		margin: 1.5em;
		line-height: 1.5;
	}

	#personalize-alert-ok {
		font-size: 0.5em;
		margin-top: 2%;
		margin-bottom: 4%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	/* bikeprice - start */
	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 100px;
		height: 50px;
	}
	#bike-price {
		font-size: 1.2em;
	}
	#emi {
		font-size: 0.8em;
	}
	/* bikeprice - end */

	/*  infoIcon popup - start */
	#infoPopup {
		width: 30%;
		padding: 10px;
	}
	#infoItemImage {
		max-width: 70%;
		height: auto;
	}
	#infoContentHeading {
		font-size: 0.9em;
	}
	#infoItemData {
		font-size: 0.6em;
	}
	#infoClose {
		/* margin-left: 10px; */
		font-size: small;
	}
	/*  infoIcon popup - end */

	#rotate-heading-1 {
		font-size: 48px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 33.6px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 33.6px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 450px;
		height: 450px;
	}
	#itemName {
		font-size: 0.6em;
	}

	/* Controls Side Bar Panel - CSS ---- End */
	.circle-back-panel {
		width: 25px;
		height: 25px;
		/* background-color: red; */
	}

	#controls-icon-div:first-child {
		margin-bottom: 1px;
		font-size: 25px;
	}

	#control-icon-img {
		width: 25px;
		height: 25px;
	}
	/* Controls Side Bar Panel - CSS ---- End */

	#controls-description-body {
		left: 38%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}

	/* loader -- start */
	#loader-logo {
		width: 24%;
		margin-top: 8%;
		/* padding-top: 4em; */
	}

	#loader-gif {
		scale: 0.3;
	}
	/* loader -- end */

	/* Chat Bubble -- Start */
	#hoverChatBubble {
		left: 10%;
	}
	.bubble {
		font-size: 60%;
		width: 17%;
		border-radius: 3px;
		padding: 0.2% 0.5% 0.2% 0.5%;
		line-height: 1.3;
	}

	.bubble-bottom-left:before {
		border-left: 8px solid #fff;
		border-right: 2px solid transparent;
		border-top: 2px solid #fff;
		border-bottom: 6px solid transparent;
		right: 10px;
		top: -2px;
	}
	/* Chat Bubble -- End */

	.category-Name {
		font-size: 0.9em;
	}
}

@media (min-width: 700px) and (max-width: 800px) {
	#dropdown-toggle {
		margin-right: 0.1em;
		scale: 0.4;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 0.6em;
	}

	#personalize-alert-heading {
		font-size: 0.8em;
	}

	#personalize-alert-message {
		font-size: 0.5em;
		margin: 1em;
		line-height: 1;
		width: 100%;
	}

	#personalize-alert-ok {
		font-size: 0.5em;
		margin-top: 2%;
		margin-bottom: 4%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	/*  infoIcon popup - start */
	#infoPopup {
		width: 30%;
		padding: 8px;
	}
	#infoItemImage {
		max-width: 50%;
		height: auto;
	}
	#infoContentHeading {
		font-size: 0.8em;
	}
	#infoItemData {
		font-size: 0.5em;
	}
	#infoClose {
		/* margin-left: 10px; */
		font-size: x-small;
	}
	/*  infoIcon popup - end */

	/* bikeprice - start */
	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 90px;
		height: 40px;
	}
	#bike-price {
		font-size: 1em;
	}
	#emi {
		font-size: 0.7em;
	}
	/* bikeprice - end */
	#rotate-heading-1 {
		font-size: 42px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 29.4px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 29.4px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 450px;
		height: 450px;
	}
	#itemName {
		font-size: 0.55em;
	}

	/* Controls Side Bar Panel - CSS ---- End */
	.circle-back-panel {
		width: 20px;
		height: 20px;
		/* background-color: red; */
	}

	#controls-icon-div:first-child {
		margin-bottom: 1px;
		font-size: 20px;
	}

	#control-icon-img {
		width: 20px;
		height: 20px;
	}
	/* Controls Side Bar Panel - CSS ---- End */

	#controls-description-body {
		left: 34%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}

	#loader-logo {
		width: 30%;
		margin-top: 8%;
	}

	#loader-gif {
		margin-bottom: 10%;
		scale: 0.3;
	}

	/* Chat Bubble -- Start */
	#hoverChatBubble {
		left: 9%;
	}
	.bubble {
		font-size: 60%;
		width: 18%;
		border-radius: 3px;
		padding: 0.2% 0.5% 0.2% 0.5%;
		line-height: 1.3;
	}

	.bubble-bottom-left:before {
		border-left: 8px solid #fff;
		border-right: 2px solid transparent;
		border-top: 2px solid #fff;
		border-bottom: 6px solid transparent;
		right: 10px;
		top: -2px;
	}
	/* Chat Bubble -- End */
}

@media (min-width: 600px) and (max-width: 700px) {
	#dropdown-toggle {
		margin-right: 0.1em;
		scale: 0.4;
	}

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 0.5em;
	}

	#personalize-alert-heading {
		font-size: 0.7em;
	}

	#personalize-alert-message {
		font-size: 0.3em;
		margin: 1em;
		line-height: 1.2;
		width: 100%;
	}

	#personalize-alert-ok {
		font-size: 0.3em;
		margin-top: 2%;
		margin-bottom: 4%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	/*  infoIcon popup - start */
	#infoPopup {
		width: 30%;
		padding: 8px;
	}
	#infoItemImage {
		max-width: 30%;
		height: auto;
	}
	#infoContentHeading {
		font-size: 0.7em;
	}
	#infoItemData {
		font-size: 0.4em;
	}
	#infoClose {
		/* margin-left: 10px; */
		font-size: x-small;
	}
	/*  infoIcon popup - end */

	/* bikeprice - start */
	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 90px;
		height: 40px;
	}
	#bike-price {
		font-size: 1em;
	}
	#emi {
		font-size: 0.7em;
	}
	/* bikeprice - end */
	#rotate-heading-1 {
		font-size: 36px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 25.2px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 25.2px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 450px;
		height: 450px;
	}
	#itemName {
		font-size: 0.5em;
	}

	/* Controls Side Bar Panel - CSS ---- End */
	.circle-back-panel {
		width: 15px;
		height: 15px;
		/* background-color: red; */
	}

	#controls-icon-div:first-child {
		margin-bottom: 1px;
		font-size: 15px;
	}

	#control-icon-img {
		width: 15px;
		height: 15px;
	}
	/* Controls Side Bar Panel - CSS ---- End */

	#controls-description-body {
		left: 30%;
		width: 400px;
		height: 200px;
	}
	#controls-div {
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}

	#loader-logo {
		width: 30%;
		margin-top: 8%;
	}

	#loader-gif {
		margin-bottom: 10%;
		scale: 0.3;
	}

	/* Chat Bubble -- Start */
	#hoverChatBubble {
		left: 9%;
	}
	.bubble {
		font-size: 50%;
		width: 18%;
		right: -20%;
		padding: 0.1% 0.5% 0.1% 0.5%;
		font-weight: bold;
		line-height: 1.3;
	}

	.bubble-bottom-left:before {
		border-left: 8px solid #fff;
		border-right: 2px solid transparent;
		border-top: 2px solid #fff;
		border-bottom: 6px solid transparent;
		right: 8px;
		top: -3px;
	}
	/* Chat Bubble -- End */
}

@media (min-width: 500px) and (max-width: 600px) {
	/* #dropdown-toggle {
		margin-right: 0.1em;
		scale:  0.4;
	} */

	/* personalize popup start */
	#personalize-alert {
		height: 30%;
	}

	#personalize-alert-close {
		font-size: 0.5em;
	}

	#personalize-alert-heading {
		font-size: 0.6em;
	}

	#personalize-alert-message {
		font-size: 0.3em;
		margin: 1em;
		line-height: 1;
		width: 100%;
	}

	#personalize-alert-ok {
		font-size: 0.1em;
		margin-top: 2%;
		margin-bottom: 4%;
		min-width: 5%;
		min-height: 20%;
	}

	/* personalize popup end */

	/* bikeprice - start */
	#bike-price-div {
		background: hsla(0, 0%, 100%, 0.5);
		/* background-color: #d19a9a; */
		border-radius: 5em;
		width: 90px;
		height: 40px;
	}
	#bike-price {
		font-size: 1em;
	}
	#emi {
		font-size: 0.7em;
	}
	/* bikeprice - end */
	#rotate-heading-1 {
		font-size: 30px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 21px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 21px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 450px;
		height: 450px;
	}
	#side-bar-controls {
		/* width: 500px; */
	}

	#controls-description-body {
		left: 35%;
		width: 300px;
		height: 150px;
	}
	#controls-div {
		width: 30px;
		margin-left: 4px;
	}
	#control-icon {
		width: 50%;
	}
	#touch-controls-heading {
		font-size: 1.2em;
	}
	#mouse-controls-heading {
		font-size: 1.2em;
	}
	#control-icon-desc {
		font-size: small;
	}

	#loader-logo {
		width: 30%;
		margin-top: 8%;
	}

	#loader-gif {
		margin-bottom: 10%;
		scale: 0.3;
	}
}

@media (min-width: 400px) and (max-width: 500px) {
	#rotate-heading-1 {
		font-size: 24px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 16.8px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 16.8px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 400px;
		height: 400px;
	}
}

@media (min-width: 300px) and (max-width: 400px) {
	#rotate-heading-1 {
		font-size: 18px;
		padding: 5px;
	}
	#rotate-heading-2 {
		font-size: 12.6px;
		padding: 10px;
	}
	#rotate-heading-3 {
		font-size: 12.6px;
		padding: 10px;
	}
	#rotate-screen-img {
		width: 300px;
		height: 300px;
	}
}

@media (min-width: 200px) and (max-width: 300px) {
	#rotate-heading-1 {
		font-size: 16px;
	}
	#rotate-heading-2 {
		font-size: 10.9px;
	}
	#rotate-heading-3 {
		font-size: 10.9px;
	}
	#rotate-screen-img {
		width: 200px;
		height: 200px;
	}
}

@media only screen and (max-width: 250px) {
	#rotateScreenDiv {
		width: 100%;
	}
	#rotate-screen-icon {
		width: 10%;
	}
	#rotate-screen-img {
		width: 150px;
		height: 150px;
	}
}
